{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <h1 align="center">Log In</h1><br>
            <hr class="colorgraph"><br>
            <form action="{% url 'login-view' %}" method="post" name="Login_Form" class="form-signin">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="text" class="form-control" name="email" placeholder="Email" required="" autofocus=""
                {% if email %}value="{{ email }}"{% endif %}/><br>

                <label for="email">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required=""
                {% if password %}value="{{ password }}"{% endif %}/>

                {% if error %}<h5 style="color:red;">{{ error }}</h5>{% endif %}
                <br>

                <button class="btn btn-sm btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
            </form>
            <br>
            <a href="{% url 'signup-view' %}" class="btn btn-sm btn-primary btn-block">Signup</a>
            <br>
            <a href="{% url 'reset-view' %}" class="btn btn-sm btn-primary btn-block">Reset Password</a>
        </div>
        <div class="col-lg-4"></div>
    </div>
{% endblock %}
