{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
                <h1>{{ name }}</h1>
                </br>
                {% if user.is_authenticated %}
                    {% if has_show %}
                        <input type="button" class="btn btn-primary" onclick="location.href='{% url 'my-shows-remove-view' id %}';" value="Remove from my shows" />
                    {% else %}
                        <input type="button" class="btn btn-primary" onclick="location.href='{% url 'my-shows-add-view' id %}';" value="Add to my shows" />
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-3">
                <div class="well pull-right">
                    <table class="table-responsive">
                        <thead>
                            <tr>
                                <td width="20%" align="center">
                                    <h4>Popularity</h4>
                                </td>
                                <td width="20%" align="center">
                                    <h4>Vote Average</h4>
                                </td>
                                <td width="20%" align="center">
                                    <h4>Vote Count</h4>
                                </td>
                                <td width="20%" align="center">
                                    <h4>Ongoing</h4>
                                </td>
                                <td width="20%" align="center">
                                    <h4>Episode Count</h4>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="warning">
                                <td align="center">
                                    <h5>{{ popularity }}</h5>
                                </td>
                                <td align="center">
                                    <h5>{{ vote_average }}</h5>
                                </td>
                                <td align="center">
                                    <h5>{{ vote_count }}</h5>
                                </td>
                                <td align="center">
                                    <h5>{{ ongoing }}</h5>
                                </td>
                                <td align="center">
                                    <h5>{{ episode_count }}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
                <ul class="nav nav-tabs col-lg-3" align="center" style="text-align:center;">
                    <h4>Season</h4>
                    {% for season in seasons %}
                        <li{% if seasons.0 == season %} class="active"{% endif %}><a data-toggle="tab" href="#season{{ season.number }}"{% if seasons.0 == season %} aria-expanded="true"{% endif %}>{{ season.number }}</a></li>
                    {% endfor %}
                </ul>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="tab-content">
                    {% for season in seasons %}
                        <div id="season{{ season.number }}" class="tab-pane fade{% if seasons.0 == season %} in active{% endif %}">
                            <h3>Season {{ season.number }}</h3>
                            <table class="table table-responsive table-hover table-striped">
                                <thead>
                                    <tr style="font-weight:bold;">
                                        <td width="3%" align="center">
                                            Episode
                                        </td>
                                        <td width="15%" align="center">
                                            Title
                                        </td>
                                        <td width="7%" align="center">
                                            Air Date
                                        </td>
                                        <td width="60%" align="center">
                                            Description
                                        </td>
                                        {% if user.is_authenticated %}
                                        <td width="5%" align="center">
                                            Watched
                                        </td>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for episode in season.episodes %}
                                        <tr>
                                            <td style="font-weight:bold;">
                                                {{ episode.number }}
                                            </td>
                                            <td style="font-weight:bold;">
                                                {{ episode.title }}
                                            </td>
                                            <td>
                                                {{ episode.air_date }}
                                            </td>
                                            <td>
                                                {{ episode.description }}
                                            </td>
                                            {% if user.is_authenticated %}
                                            <td width="5%" align="{% if has_show %}center{% else %}left{% endif %}">
                                                {% if has_show %}
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="blankCheckbox" value="ep{{ episode.id }}" {% if episode.watched %}checked{% endif %} style="">
                                                    </label>
                                                </div>
                                                {% else %}
                                                    Please add to show first
                                                {% endif %}
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        if (window.location.hash) {
            $("a[href='" + window.location.hash + "']").tab('show');
        }
        $(document).ready(function() {
            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                     break;
                                 }
                             }
                         }
                         return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });

            $('input[type=checkbox]').change(function () {
                if (this.value.indexOf('ep') != -1) {
                    var checkbox = this.value.replace('ep', '');
                    var check = $(this).prop("checked");
                    $.ajax({
                        url: "{% url 'my-shows-watch-view' %}",
                        type: 'POST',
                        async: false,
                        cache: false,
                        data: {
                            'id': checkbox,
                            'new_value': check
                        },
                        timeout: 30000,
                        error: function(){
                            return;
                        },
                        success: function(msg){
                            return;
                        }
                    });
                }
                console.log(this.value);
            });
        })
    </script>
{% endblock %}